apiKey =
cx =

resolution =

mouse_move_ms =
mouse_press_ms =
mouse_end_ms =

768_canvasX =
768_canvasY =
768_paletteX =
768_paletteY =
768_brushSize =
768_paletteXStep =
768_paletteYStep =

1080_canvasX =
1080_canvasY =
1080_paletteX =
1080_paletteY =
1080_brushSize =
1080_paletteXStep =
1080_paletteYStep =
